.wrapper{
			width: 100%;
			height: 100%;
		}
		.container{
			width: 1440px;
			min-height: 500px;
			margin: auto;
			background-color: #133A00;
		}
		.header{
			width: 100%;
			min-height: 100px;
		}
		.menu{
			width: 100%;
			height: 50px;
			display: flex;
			background-color: #133A00;
		}
		.name{
			font-size: 10px;
			font-family: Biryani;
			color: white;
			margin-top: 21px;
			margin-left: 276px;
		}
		.main{
			font-size: 16px;
			font-family: Biryani;
			color: white;
			margin-top: 19px;
			margin-left: 195px;
		}
		.about{
			font-size: 16px;
			font-family: Biryani;
			color: white;
			margin-top: 19px;
			margin-left: 50px;
		}
		.skill{
			font-size: 16px;
			font-family: Biryani;
			color: white;
			margin-top: 19px;
			margin-left: 50px;
		}
		.portfolio{
			font-size: 16px;
			font-family: Biryani;
			color: white;
			margin-top: 19px;
			margin-left: 50px;
		}
		.contact{
			font-size: 16px;
			font-family: Biryani;
			color: white;
			margin-top: 19px;
			margin-left: 50px;
		}
		.myportfol{
			width: 100%;
			height: 450px;
			background-color: #296927;
			display: flex;
		}
		.foto{
			width: 337px;
			height: 450px;
			border-radius: 40px;
			background-size: 100%;
		}
		.myportfolio{
			width: 992px;
			height: 290px;
			font-size: 160px;
			font-family: Biryani;
			color: white;
			margin-top: 40px;
			margin-left: 40px;
			text-align: center;
		}
		.cont1{
			width: 100%;
			height: 520px;
			
			display: flex;
		}
		.myteacher{
			margin-top: 79px;
			margin-left: 150px;
			border-radius: 20px;
			width: 400px;
			height: 400px;
			background-color: #296927;
		}
		.myteach{
			color: white;
			font-size: 25px;
			margin-top: 20px;
			margin-left: 112px;
		}
		.fototeach{
			margin-top: ;
			margin-left: 35px;
			width: 250px;
			height: 328px;
			
		}
		.greetings{
			width: 700px;
			height: 430px;
			background-color: #296927;
			border-radius: 20px;
			margin-top: 79px;
			margin-left: 100px;
		}
		.greetings2{
			width: 680px;
			height: 380px;
			margin: auto;
			margin-top: 10px;
			background-color: #133A00;
			border-radius: 20px;
		}
		.mygreetings{
			color: white;
			font-size: 30px;
			text-align: center;
			width: 670px;
			height: 329px;
		}








		.cont2{
			width: 100%;
			height: 420px;
			margin-top: 47px;
			margin-left: 150px;
			border-radius: 20px;
			display: flex;
		}
		.skills{
			width: 600px;
			height: 410px;
			background-color: #296927;
			border-radius: 20px;
			display: flex;
		}
		.htmltext{
			font-size: 20px;
			color: white;
			margin-top: 50px;
			margin-left: 20px;
		}
		.csstext{
			font-size: 20px;
			color: white;
			margin-top: 70px;
			margin-left: 20px;
		}
		.phytontext{
			font-size: 20px;
			color: white;
			margin-top: 70px;
			margin-left: 20px;
		}
		.javatext{
			font-size: 20px;
			color: white;
			margin-top: 70px;
			margin-left: 20px;
		}
		.shkali{
			margin-left: 60px;
		}
		.shkala{
			width: 300px;
			height: 50px;
			background-color: red;
			margin-top: 32px;
		}
		.red1{
			width: 75%;
			height: 100%;
			background-color: #05FF00;
		}
		.shkala1{
			width: 300px;
			height: 50px;
			background-color: red;
			margin-top: 45px;
		}
		.red2{
			width: 75%;
			height: 100%;
			background-color: #05FF00;
		}
		.red3{
			width: 50%;
			height: 100%;
			background-color: #05FF00;
		}
		.red4{
			width: 0%;
			height: 100%;
			background-color: #05FF00;
		}



		.mysites{
			width: 550px;
			height: 400px;
			margin-left: 55px;
			background-color: #296927;
		}
		.mysitestext{
			font-size: 27px;
			text-align: center;
			color: white;
		}
		.footer{
			width: 100%;
			height: 50px;
			background-color: black;

		}
		.number{
			margin-left: 468px;
			font-size: 35px;
			color: white;
		}